/build
/export

.o
.d

/logs
.log

.lock

.bin
.pdi
.peers.ini
.repo.yaml
.vitisWorkspace.json

New Text Document.txt
.vs/
.vscode/
jetson/.gitignore
.gitignore
jetson/CudaMatrixMultiplication/.vs/CudaMatrixMultiplication/v17/.suo
jetson/CudaMatrixMultiplication/.vs/CudaMatrixMultiplication/v17/Browse.VC.db
jetson/CudaMatrixMultiplication/.vs/CudaMatrixMultiplication/v17/DocumentLayout.backup.json
jetson/CudaMatrixMultiplication/.vs/CudaMatrixMultiplication/v17/DocumentLayout.json
*.vcxproj